body {
  background-color: #F6E6C2;
  margin: none;
  font-family:'Roboto';
  text-align:center;
  overflow-y: hidden;
}

h1 {
  font-size: 8vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFAACF;
  text-shadow: -0.5px 0.5px #B9F3E4;
}
.imager {
    height: 58vh;
    animation: growflower 5s;
}

@keyframes growflower {
    0% {height: 0;}
}

.buttoncon {
  text-align: center;
}

.backbutton {
  background-color: #B9F3E4;
  font-size: 3vh;
  text-align: center;
  border-color: #B9F3E4;
  border-width: 1px;
  background-color: #EA8FEA;
  border-radius: 10px;
  animation-name: buttonanimation;
  animation-duration: 1s;
  transition: 0.5s;
}

.backbutton:hover {
  background-color: rgb(190, 43, 43);
}